<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eatwell.com.eatwell">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="com.android.eatwell.EatWell"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:fullBackupContent="false"
        android:networkSecurityConfig="@xml/network_security"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">


        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>


        <activity
            android:name="com.android.eatwell.view.dashboard.activity.DeliveryAddress"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.eatwell.view.dashboard.activity.Campaign"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.eatwell.view.dashboard.activity.ProductDetail"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.eatwell.view.dashboard.fragment.setting.ProfileActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.eatwell.view.dashboard.DashboardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.eatwell.view.login.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.android.eatwell.view.dashboard.activity.UsedReceiptDetail"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"
            />

        <activity android:name="com.android.eatwell.view.dashboard.activity.ActiveReceiptDetail"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"
            />

        <activity android:name="com.android.eatwell.view.dashboard.fragment.setting.ReferalCodeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />

        <activity android:name="com.android.eatwell.view.dashboard.fragment.setting.ChangePasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait"
            />



        <activity android:name="com.android.eatwell.view.notification.NotificationActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            />


        <activity android:name="com.android.eatwell.view.notification.GeneralNotificationActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.android.eatwell.view.dashboard.fragment.setting.ActivityFeedBack"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.eatwell.view.login.activity.StartUpActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.eatwell.view.merchant.MerchantActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.eatwell.view.login.activity.TermConditionActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.eatwell.view.dashboard.fragment.setting.ChooseReferralCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.android.eatwell.view.dashboard.fragment.setting.AddStaffCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.android.eatwell.view.login.activity.RestaurantOptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red_color" />

        <service android:name="com.android.eatwell.data.service.MealPassFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name="com.android.eatwell.view.units.AlarmReceiver">

        </receiver>
        <receiver android:name="com.android.eatwell.view.units.ReminderOrderNotification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="DEFAULT_CHANNEL_ID" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>


    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>